body
{
background-image:url("attempt3/pattern-8bvg.png");
}

.header{
	font-family:Verdana;
	background-color:#0d3cac;	
}

.maintext{
	font-family:Verdana;
	color:#FFFFFF;
	text-shadow: 5px 5px 5px #000000;
	font-weight: bold;
	font-size:60px;
}

.contact{
	color:FFFFFF;
	font-family:Verdana;
    font-weight:bold;
	text-align:left;
}
li:hover {
    background:#3333FF;
}
li {
	display: inline;
	font-family:Verdana;
	color: #ffffff;
	background-color: #cc0323;
}
.div1{

}
.timetableinfo{
    font-weight: bold;
    color:#FFFFFF;
}
.div2{

}

.joinus{
    font-family:Arial Black;
    color:#fff;
}

.rights{
    color: #000000; 
    font-family: Arial;   
    font-size:15px;  
}

.ferryrunningbar{
    background-color: yellow;
    border-radius: 15px;
 
}

.runningbarinfo{
    font-family: Arial Black;   
}

.movingword{
    font-size: 30px;
    font-family: Arial Black;
}

.fromport{
    border-style:solid;
    font-family: Arial Black;
    background-color:#0000FF;
    border-color:#FFFFFF;
}

.fromarran{
    border-style:solid;
    font-family: Arial Black;
    background-color:#009300;
    border-color:#FFFFFF;
}
.discountinfo{
    background-color:yellow;

}

{
background-image:url("attempt3/pattern-boyu.png");
}


.checkout{
    font-family: Arial Black;
     color: #FFFFFF;
    font-size: 15px;    
}

.weatherimage{
    font-family:Verdana;
	color:#000000;
    width:300px;
    margin:0 auto;
    text-align: center;
	background-color:white;
    border:5px solid blue;

}


.islandinfo{
    font-size: 20px;
    font-family: Arial Black;
    color:white;
}