* {
	margin: 0;
	padding: 0;
}

/*COLORS AND STYLES*/

body {
	font-family: Verdana;
	font-size: 12px;
	background-color: #ECF0F1;
}

h1 {
	text-align: center;
	font-size: 4em;
}

.header_text p {
	font-size: 1em;
}

/*POSITIONING*/

.header {
	color: #ECF0F1;
	background-color: #3A539B;
}

.left {
	float: left;
}

.right {
	float: right;
}

.contact_number {
	clear: both;
	text-align: left;
}


/*PICTURES*/

img {
	max-width: 100%
}

.island_photo {
	max-height: 200px;
}

.ferry_photo {
	max-height: 200px;
}