body{
	margin:0px;
}


.header{
	position: relative;
	display: block;
	height:100px;
	width:100%;
}

.container {
	width: 840px;
	margin: 0 auto;
}

.div1 {
	padding: 10px;
	width: 400px;
	float:left;
}

.div2 {
	padding: 10px;
	width: 400px;
	float: right;
}






	